.Education{
    font-family: 'Comfortaa', cursive;
    margin-top: 100px;
}
.EducationCard{
    position: relative;
    display: grid;
    max-width: 620px;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: auto;
}
.EducationCard:hover{
    scale: 1.1;
}
.EducationCircleContainer{
    display: flex;
    justify-content: right;
    align-items: right;
    text-align: right;
    padding-right: 15px;
}
.EducationRightSection{
    position: relative;
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}
.EducationDate{
    margin-top: 3px;
    margin-right: -10px;
    color: #43BBD3;
}
.EducationRightSection h2{
    font-size: 20px;
    font-weight: normal;
    color: #e5e7eb;
}
.EducationRightSection h3{
    font-size: 16px;
    font-weight: normal;
    color: #9ca3af;
    margin-top: -15px;
}
.EducationRightSection p{
    font-size: 16px;
    font-weight: normal;
    max-width: 350px;
    color: #d1d5db;
}