@font-face{font-family:researcher;src:url("/fonts/researcher.ttf");font-display:swap}
@font-face{font-family:DelliciaDemo;src:url("/fonts/DelliciaDemo-JRV67.otf");font-display:swap}
@font-face{font-family:Comfortaa;src:url("/fonts/Comfortaa-Regular.ttf");font-display:swap}
@font-face{font-family:El Messiri;src:url("/fonts/ElMessiri-Regular.ttf");font-display:swap}
@font-face{font-family:Merienda;src:url("/fonts/Merienda-Regular.ttf");font-display:swap}
@font-face{font-family:Montserrat Alternates;src:url("/fonts/MontserratAlternates-LightItalic.ttf");font-display:swap}
@font-face{font-family:Quicksand;src:url("/fonts/Quicksand-Regular.ttf");font-display:swap}
@font-face{font-family:Satisfy;src:url("/fonts/Satisfy-Regular.ttf");font-display:swap}
@font-face{font-family:Ubuntu;src:url("/fonts/Ubuntu-Regular.ttf");font-display:swap}
@font-face{font-family:Brolink;src:url("/fonts/Brolink.otf");font-display:swap}
@font-face{font-family:Dujitsu;src:url("/fonts/Dujitsu.otf");font-display:swap}