#Main{
    position: relative;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.MainPattern{
    position: relative;
    z-index: 2;
}
.TextAnimation{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.MainDots{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.MainTextImage{
    position: relative;
    animation:spin 10s linear infinite;
}
@keyframes spin {
    0%{
       transform: rotate(0deg);
    }
   100%{
       transform: rotate(360deg);
    }
}
   