.CvContainer{
    margin-top: 100px;
    font-family: 'Comfortaa', cursive;
}
.CvContainer h2{
    font-weight: normal;
    color: #e5e7eb;
}
.hideImage{
    display: none;
    opacity: 0;
    transition: ease-out 1s;
}
.donwloadContainer{
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 50%;
}
.donwloadContainer::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px #e5e7eb solid;
}
.showCounter{
    position: absolute;
    text-align: center;
    font-size: larger;
    color: #e5e7eb;
}
.donwloadText{
    color: #e5e7eb;
}
.donwloadContainer img{
    width: 30px;
    position: absolute;
}
.donwloadContainer:hover img{
    transform: scale(1.1);
}
.wrapper{display:flex;justify-content:center;align-items:center;}
.checkmark__circle{stroke-dasharray: 166;stroke-dashoffset: 166;stroke-width: 2;stroke-miterlimit: 10;stroke: #7ac142;fill: none;animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards}.checkmark{width: 61px;height: 61px;border-radius: 50%;display: block;stroke-width: 2;stroke: #fff;stroke-miterlimit: 10;margin-bottom: 3.2px; margin-left: -0.5px; box-shadow: inset 0px 0px 0px #7ac142;animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both }
.checkmark__check{transform-origin: 50% 50%;stroke-dasharray: 48;stroke-dashoffset: 48;animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards}@keyframes stroke{100%{stroke-dashoffset: 0}}@keyframes scale{0%, 100%{transform: none}50%{transform: scale3d(1.1, 1.1, 1)}}@keyframes fill{100%{box-shadow: inset 0px 0px 0px 30px #7ac142}}