#About{
    position: relative;
    text-align: center;
    font-family: Comfortaa;
    display: inline-block;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    width: 100%;
    height: 200px;
}
#About i{
    font-style: normal;
    color: #FEC900;
}
.Details{
    margin: auto;
    padding: 10px;
    font-size: larger;
}
@media only screen and (min-width: 800px) {
    .Details{
        width: 650px;
    }
}