---
import "../styles/index.css";
import "../styles/fonts.css";
import Header from "../components/Header/Header";
import Main from "../components/Main/Main";
import About from "../components/About/About";
import Logos from "../components/Logos/Logos";
import Projects from "../components/Projects/Projects";
import Ieee from "../components/Ieee/Ieee";
import Ielts from "../components/Ielts/Ielts";
import Footer from "../components/Footer/Footer";
import Preload from "../components/Preload/Preload";
import Vectors from "../components/Vectors/Vectors";
import Cv from "../components/Cv/Cv";
import Education from "../components/Education/Education";
import Experience from "../components/Experience/Experience";
import Animaiton from "../components/Animaiton/Animaiton.jsx";
---

<html lang="en">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-G56N6HQGH1"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-G56N6HQGH1');
		</script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#FFFFFF">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
		<meta name="title" content="IBRA - Portfolio" />
		<meta name="description" content="Hey, welcome to my corner of the web! Check out my awesome projects and let's chat about creating digital awesomeness!" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ibra.ws/" />
		<meta property="og:title" content="IBRA - Portfolio" />
		<meta property="og:description" content="Hey, welcome to my corner of the web! Check out my awesome projects and let's chat about creating digital awesomeness!" />
		<meta property="og:image" content="/images/Ibra.svg" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.ibra.ws/" />
		<meta property="twitter:title" content="IBRA - Portfolio" />
		<meta property="twitter:description" content="Hey, welcome to my corner of the web! Check out my awesome projects and let's chat about creating digital awesomeness!" />
		<meta property="twitter:image" content="/images/Ibra.svg" />
		<title>IBRA - Portfolio</title>
	</head>
	<body>
		<div class="parent">
			<Preload client:load />
			<Header client:visible />
			<Main client:visible />
			<About client:visible />
			<Logos client:only="react" />
			<Education client:visible />
			<Experience client:visible />
			<Projects client:visible />
			<Ieee client:visible />
			<Ielts client:only="react" />
			<Cv client:only="react" />
			<Vectors client:visible />
			<div class="blob"></div>
			<Footer client:visible />
		</div>
	</body>
	<script src="https://unpkg.com/aos@next/dist/aos.js" is:inline></script>
	<Animaiton client:load />
	<script is:inline>
		var cursor = document.querySelector('.blob');

		document.addEventListener('mousemove', function(e){
		var x = e.clientX;
		var y = e.clientY;
		cursor.style.transform = `translate3d(calc(${e.clientX}px - 50%), calc(${e.clientY}px - 50%), 0)`
		});
	</script>
</html>
